<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
<title> {{name}} Data</title>
<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.2.min.css" type="text/css" />
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.2.min.js"></script>

{{skrypt|safe}}

</head>
<body>
<h1> Generated graph for {{name}}</h1>
<h2><a href="/index">Back</a></h2>
  <div class="plotdiv" id="1c89b17b-4005-44a8-8acd-b8c600bbdf3e"></div>
</body>
<!-- <link rel=stylesheet type=text/css href='/static/page_style.css'>
<div class=page>
  <h1> Generated graph for {{name}}</h1> -->

</html>
